{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% if message %}
    <p class="alert alert-primary text-center">{{ message }}</p>
    {% endif %}
    <h1 class="text-center mx-auto">Выберите точку</h1>
    {% for store in stores %}
      <div class="row">
        <div class="col-sm-12 p-2 m-1">
          <a href="{% url 'stores_detail' store.id %}" class="btn btn-dark d-block"> {{ forloop.counter }}) {{ store }}</a> 
        </div>
      </div>
  {% endfor %}
  
</div>
{% endblock content %}